/* Avatar: The Last Airbender */
.md [href$="##koh"] {
	background-image: url("https://vignette.wikia.nocookie.net/avatar/images/0/00/Koh.png/") !important;
	width: 333px !important;
	height: 250px !important;
}

/* The Simpsons */
@keyframes homer {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 0px -12600px; /* -12600 = -1 * height of a frame * (number of frames-1) */
	}
}
.md [href$="##homer"] {
	background-image: url("https://i.imgur.com/FI3TJ0A.jpg") !important;
	width: 480px !important;
	height: 360px !important; /* height of each frame, not the total height of the resultant sprite sheet */
}
.md [href$="##homer"]:hover {
	animation: homer 2s steps(35) forwards; /* #.#s is total gif duration, steps(#) is number of frames minus 1 */
}

/* Casshern Sins */
.md [href$="##Luna"] {
	background-image: url("https://i.imgur.com/MDp84Bo.png") !important;
	width: 384px !important;
	height: 216px !important;
}
